root=true
[*.{kt,kts}]
indent_size=4
continuation_indent_size=4
insert_final_newline=true
max_line_length=off
disabled_rules=import-ordering,no-wildcard-imports,experimental:annotation
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true