*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#Build Setting
/app/src/live/
/app/src/staging/

#Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

#Fabric
/app/fabric.properties
